{% load static %}
<html>
<head>
    {% include 'headeradmin.html' %}
</head>
<body>
    {% include 'nav2admin.html' %}
    <br> &nbsp;&nbsp;Welcome <b style="text-transform: capitalize; color: blue">{{ request.user.username }}</b>

    <div class="container" style="margin-top:50px">
        <h2 class="text-center" style="font-family: Monotype Corsiva; color: red"><strong>Add</strong> Vehicle Detail</h2>

        <div class="form-group">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label><b>Vehicle Category</b></label>
                <select name="category" class="form-control">
                    <option value="">---Select Vehicle Category---</option>
                    {% for i in category1 %}
                        <option value="{{ i.categoryname }}">{{ i.categoryname }}</option>
                    {% endfor %}
                </select>

                <label><b>Vehicle Company</b></label>
                <input type="text" name="vehiclecompany" placeholder="Vehicle Company" class="form-control" required>

                <label><b>Registration Number</b></label>
                <input type="text" name="regno" placeholder="Registration Number" class="form-control" required>

                <label><b>Owner Name</b></label>
                <input type="text" name="ownername" placeholder="Owner Name" class="form-control" required>

                <label><b>Owner Contact Number</b></label>
                <input type="text" name="ownercontact" placeholder="Contact Number" maxlength="10" class="form-control" required>

                <label><b>Parking Date</b></label>
                <input type="date" name="pdate" class="form-control" required>

                <label><b>In Time</b></label>
                <input type="time" name="intime" placeholder="In Time" class="form-control" required>
                <br>
                <input type="submit" name="submit" value="Submit" class="btn btn-primary form-control">
            </form>
        </div>
    </div>

    {% if error == "no" %}
        <script>
            alert('Vehicle Detail has been added');
            window.location = '{% url "manage_incomingvehicle" %}';
        </script>
    {% elif error == "yes" %}
        <script>
            alert('Something Went Wrong. Please try again');
        </script>
    {% endif %}
</body>
</html>
