{% load static %}
<html>
<head>
    {% include 'headeradmin.html' %}
    <script type="text/javascript">
        function checkpass() {
            if (document.changepassword.newpassword.value !== document.changepassword.confirmpassword.value) {
                alert('New Password and Confirm Password fields do not match');
                document.changepassword.confirmpassword.focus();
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
    {% include 'nav2admin.html' %}
    <br> &nbsp;&nbsp;Welcome <b style="text-transform: capitalize; color: blue">{{ request.user.username }}</b>
    <div class="container" style="margin-top: 50px">
        <h2 class="text-center" style="font-family: Monotype Corsiva; color: red">Change Password</h2>
        <div class="form-group">
            <form method="post" action="" name="changepassword" onsubmit="return checkpass();">
                {% csrf_token %}
                <div class="form-group">
                    <label for="currentpassword"><b>Current Password</b></label>
                    <input type="password" id="currentpassword" class="form-control" name="currentpassword" required>
                </div>
                <div class="form-group">
                    <label for="newpassword"><b>New Password</b></label>
                    <input type="password" id="newpassword" class="form-control" name="newpassword" required>
                </div>
                <div class="form-group">
                    <label for="confirmpassword"><b>Confirm New Password</b></label>
                    <input type="password" id="confirmpassword" class="form-control" name="confirmpassword" required>
                </div>
                <br>
                <input type="submit" name="submit" value="Submit" class="btn btn-primary form-control">
            </form>
        </div>
    </div>
    {% if error == "no" %}
    <script>
        alert('Password updated successfully');
        window.location = ('{% url "logout" %}');
    </script>
    {% elif error == "yes" %}
    <script>
        alert('Something went wrong, please try again later');
    </script>
    {% elif error == "not" %}
    <script>
        alert('Your current password is incorrect');
    </script>
    {% endif %}
</body>
</html>
